@import "../app/styles/mixins/";

.dashboardTab{
    @apply flex flex-col relative top-2 justify-center items-center w-full  bg-primary-light text-white text-sm py-1 opacity-50;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    font-family:  Helvetica, sans-serif;
}
.codeblock{
    @apply w-[95%] h-48 rounded-xl flex flex-col justify-start bg-primary-superDark;
    //@include b;
}